@page "/"

<title>Pierwszy Projekt Blazor</title>

<font color="#3300CC">
  
        <marquee direction="Right" scrollamount="10" scrolldelay="3" onscroll="stop">
            <h1>
                Damian Różycki
                <br />
                Nr albumu: 109336
            </h1>
        </marquee>
    
</font>
